{% extends "base.html "%}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Comment Edit</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr class="hr-comment">
    <!-- Comments -->
    <section class="comments">
	    <article class="comment">
                <a class="comment-img">
                    <img src="http://lorempixel.com/50/50/people/" alt="user_dp" width="50" height="50" />
                </a>

                <div class="comment-body">
                    <div class="text">
                      <p>{{ comment.content }}</p>
                    </div>
                    <p class="attribution">by <a>{{ comment.author }}</a> at {{ comment.last_modified.strftime("%b %d, %Y") }}
                     </p>
                </div>
        </article>
    </section>
    {% if user == comment.author %}
    <div class="container margin-bottom">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                   <form method="post">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Write your Comment..." name="comment" required value="{{ comment.content }}">
                      <span class="input-group-btn">
                        <button class="btn btn-default no-padding" type="submit">Submit</button>
                      </span>
                    </div>
                  </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
