
{% extends "base.html" %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('assets/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Multi User Blog</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              {% for p in posts %}
                <div class="post-preview">
                    <a href="/{{p.key().id() }}">
                        <h2 class="post-title">
                            {{ p.subject }}
                        </h2>

                    </a>
                    <p class="post-meta">Posted by <a href="/">{{ p.author }}</a> on {{ p.last_modified.strftime("%b %d, %Y") }} </p>
                </div>
                <hr>
              {% endfor %}
                <!-- Pager -->
                
            </div>
        </div>
    </div>
{% endblock %}
