
{% extends "base.html "%}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1> {{ post.subject }} </h1>
                        <span class="meta">Posted by <a href="/"> {{ post.author }} </a> on {{ post.created.strftime("%b %d, %Y") }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.content | safe }}
                </div>
            </div>
        </div>
    </article>

    <hr class="hr-comment">
    {% for comment in comments %}
    <!-- Comments -->
    <section class="comments">
	<article class="comment">
                <a class="comment-img">
                    <img src="http://lorempixel.com/50/50/people/" alt="user_dp" width="50" height="50" />
                </a>

                <div class="comment-body">
                    <div class="text">
                      <p>{{ comment.content }}</p>
                    </div>
                    <p class="attribution">by <a>{{ comment.author }}</a> at {{ comment.last_modified.strftime("%b %d, %Y") }}</p>
                </div>
            </article>

        </section>
    {% endfor %}
{% endblock %}
