<!DOCTYPE html>
<html>
    <head>
        <title> BLOG | Signup </title>
        <link href="assets/css/signstyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="form">

              <ul class="tab-group">
                <li class="tab active"><a>Sign Up</a></li>
                <li class="tab"><a href="/login">Log In</a></li>
              </ul>

              <div class="tab-content">
                <div id="signup">
                  <h1>Sign Up for Free</h1>

                  <form method="post">

                  <div class="top-row">
                    <div class="field-wrap">
                      <label>
                        First Name<span class="req">*</span>
                      </label>
                      <input type="text" name="fname" required autocomplete="off" />
                    </div>

                    <div class="field-wrap">
                      <label>
                        Last Name<span class="req">*</span>
                      </label>
                      <input type="text" name="lname" required autocomplete="off"/>
                    </div>
                  </div>

                  <div class="field-wrap">
                    <label>
                      Email Address<span class="req">*</span>
                    </label>
                    <input type="email" required name="email" autocomplete="off"/>
                  </div>
                  
                  <div class="field-wrap">
                    <label>
                      Username <span class="req">*</span>
                    </label>
                    <input type="text" required name="username" autocomplete="off"/>
                  </div>

                  <div class="field-wrap">
                    <label>
                      Set A Password<span class="req">*</span>
                    </label>
                    <input type="password" required name="pass" autocomplete="off"/>
                  </div>
                  
                  <div class="field-wrap">
                    <label>
                      Retype Password<span class="req">*</span>
                    </label>
                    <input type="password" required name="cpass" autocomplete="off"/>
                  </div>
                  <p class="button error">{{error}}</p>
                  <button type="submit" class="button button-block"/>Get Started</button>

                  </form>

                </div>
                
                

        </div> <!-- /form -->
        <!-- jQuery -->
        <script src="assets/vendor/jquery/jquery.min.js"></script>
        
        <script src="assets/js/sign.js" type="text/javascript"></script>
    </body>
</html>
